<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joaquin.visorcansatepatia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIsorCansatEPatia"
        android:screenOrientation="portrait">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- incluimos los permisos necesarios para nuestra aplicaicón -->
    <uses-permission android:name="android.permission.INTERNET"/><!-- permiso de uso de internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/><!-- persmiso de acceso al estado de la red -->

</manifest>